<% content_for :title do %>About<% end %>
<h3>About Initials</h3>
<p>
Initials is a magazine dedicated to the intersection of music and success--your own! Catch up on the latest celebrity gossip while reading inspirational stories about how you can live your best life!
</p>

<p>The magazine was conceived by George Williams, III, an entrepreneur. The execution of the magazine was carried out by Preston Copeland.
</p>
