<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Latest', articles_path %></li>
<li><a href="#">Music</a></li>
<li><a href="#">Scandal</a></li>
<li><a href="#">Inspiration</a></li>
<li><a href="#">Tickets</a></li>
<li><a href="#">Subscriptions</a></li>
