<%# navigation styled for Zurb Foundation 5 %>

<nav class="top-bar" data-topbar>

    <ul class="title-area">
            <li class="name"><%= link_to 'Initials', root_path %></li>
    </ul>


    <ul class="title-area">
            <%= render 'layouts/sign_in_links' %>
    </ul>


    <ul class="title-area right">
         <%= render 'layouts/navigation_links' %>
    </ul>

</nav>