<%# add navigation links to this file %>
<ul class="title-area">
<div class= "name">
  <li><a href="#">Subscribe To Magazine</a></li>
</div>
</ul>

<ul class="title-area">
<div class= "name">
  <li><%= link_to 'About', page_path('about') %></li>
</div>
</ul>

<ul class="title-area">
<div class= "name">
 <li><%= link_to 'Latest', articles_path %></li>
</div>
</ul>

<ul class="title-area">
<div class= "name">
 <li><a href="#">Music</a></li>
</div>
</ul>

<ul class="title-area">
<div class= "name">
 <li><a href="#">Scandal</a></li>
</div>
</ul>

<ul class="title-area">
<div class= "name">
<li><a href="#">Inspiration</a></li>
</div>
</ul>

<ul class="title-area">
<div class= "name">
<li><a href="#">Tickets</a></li>
</div>
</ul>




